.about-company {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    background-color: #F2F2F2;
}

.about-company__button {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 7px 10px;
    border-radius: 5px;
    color: #2F2F51;
    background: none;
    border: none;
}

.about-company__button--active {
    background-color: #EF7F04;
    color: #ffffff;
    font-weight: bold;
}