* {
  margin: 0;
}

.main {
  width: 65%;
  margin: auto;
}

body {
  font-family: 'Roboto';
  background-color: #F2F2F2;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  padding: 28px 0;
}