* {
  margin: 0;
}

.main {
  width: 1200px;
  margin: auto;
}

body {
  font-family: 'Roboto';
  background-color: #F2F2F2;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  padding: 67px 0;
}

.order-btn:hover,
.btn__item:hover,
.footer__links p:hover {
  opacity: 0.5;
}

button.about-company__button:hover {
  background-color: #EF7F04;
  color: #ffffff;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .main {
    width: 100%;
  }
}