* {
  margin: 0;
}

.main {
  width: 1200px;
  margin: auto;
}

body {
  font-family: 'Roboto';
  background-color: #F2F2F2;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  padding: 67px 0;
}

@media (max-width: 1024px) {
  .main {
    width: 100%;
  }
}