.service {
    display: flex;
    padding: 30px;
    flex-wrap: 30px;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
}

.card {
    height: 268px;
    width: 595px;
    border-radius: 3px;
    background-image: url(/assets/service/background-gradient.svg);
    font-family: 'Roboto';
    font-style: normal;
    color:
        #2F2F51;
}

.card-header {
    display: flex;
    height: 72px;
    margin: 55px 50px 0;
}

.card-header-title {
    width: 250px;
    margin: auto 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.card-icon {}

.card-text {
    width: 300px;
    margin: 30px 50px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}