.service {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
}

.card {
    height: 268px;
    width: 595px;
    font-style: normal;
    color:
        #2F2F51;
        border: ;
}

.card--set1 {
    background-image: url(./assets/service/background-gradient-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card--set2 {
    background-image: url(./assets/service/background-gradient-2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card--set3 {
    background-image: url(./assets/service/background-gradient-3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card--set4 {
    background-image: url(./assets/service/background-gradient-4.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.card__header {
    display: flex;
    height: 72px;
    margin: 55px 50px 0;
}

.card-header__title {
    width: 250px;
    margin: auto 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.card__text {
    width: 300px;
    margin: 30px 50px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}